.FormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.Form{
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    background-color: #363634;
}

form{
    width: 450px;
    margin: 20px
}

.InputContainer{
    margin: 10px;
}

.InputForm{
    height: 20px;
    width: 100%;
}

.TextAreaForm{
    width: 100%;
    height: 75px;
    resize: none;
}

.LabelError{
    color: red;
}

.SubmitContainer{
    display: flex;
    justify-content: center;
}

.Button{
    padding: 3px;
    color: black;
    background-color: #676762;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 4px;
}

.Button:hover{
    background-color: whitesmoke;
}

.Button:disabled{
    color: red;
}

.List{
    margin: 5px;
}

.LabelList{
    margin: 10px;
}
