.Cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Items{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 320px 320px 320px;
    gap: 25px;
}

.Paginado {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}


.ButtonPaginado{
    margin: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    color: black;
    background-color: #676762;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 4px;
}

.ButtonPaginado:hover{
    background-color: whitesmoke;
}

.ButtonPaginado:disabled{
    background-color: whitesmoke;
}