.Joystick{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.Link{
    margin: 10px;
    color: white;
}

.Link:hover{
    color: cornflowerblue;
}

.NavBar{
    display: flex;
    background-color: black;
    height: 55px;
    align-items: center;
}